<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Product List</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Buat Penilangan</a>
                </h3>
                <h2> Penilangan</h2>
                <div class="table-responsive">
                    <table class="table" id="product-table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Plat</th>
                                <th>Jenis Pelanggaran</th>
                                <th>Kendaraan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tilang : ${tilangs}">
                                <td><a th:text="${tilang.tilangName}" th:href="@{'/show/' + ${tilang.tilangId}}"></a></td>
                                <td th:text="${tilang.tilangPlat}"></td>
                                <td th:text="${tilang.tilangPelanggaran}"></td>
                                <td th:text="${tilang.tilangKendaraan}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>